<h1>Author <%= params[:author_id] %> </h1>
<p>congrats, you made it to <b>views/base/author</b> with :id and :auth_id passed by controller <b><em>base#author</em></b></p>

<br/>
<p>As I've always said about author <%= params[:author_id] %>, blah, blah...<br/>

<hr/>
<p><%= link_to("Home", {:action => "index" }) %></p>

<hr/>
<%= params.inspect %>