<h1>Authorial London</h1>
<p>you made it to views/index served by base#index</p>
<p>the <b>Rails</b> approach; we need Backbone...</p>

<p><a href="/base/authors">the 'authors' view</a></p>
<p><%= link_to("another way to 'authors'", 
	{:action => "authors" }) %></p>

<p><%= link_to("Author with parameters: auth_id = 10397", 
	{:action => "author", :author_id => 10397 }) %></p>
