/* authors.scss */

/***/
/* General, AuthorsApp */
/***/

h4 {}

#authors_region {

}
.categories {

}

.navbar { min-height: 35px; margin-bottom:0; }
.navbar .nav-pills >li  {
  padding: 4px;
  margin:0;
  cursor: pointer;
}
.navbar .nav-pills >li.active  {
  color: white;
  border-radius: 3px;
  background-color: #336699;
  cursor: none;
}

#dimension_pills {
  margin-left: 40px;
}

/***/
/* List module */
/***/

#authorlist_region {
  max-height: 75%;
  overflow-y: scroll;
  position:absolute;
}
.author {
  display: inline-block;
  width: 92px;
}
.tab-content { padding-top: 6px;;}

.authlist {
  padding:0 6px; margin-top: 6px;
  overflow: scroll;
  a {text-decoration: none;}
  a:hover {background: yellow;}
  }

#catlist {
  .active {font-size: 1.3em;}
  span {
    font-family: Geneva, Arial;
    font-size: 0.85em;
  }
  border: 1px dotted #993333;
  background: #e0e0e0; padding: 3px;
  margin-right: 8px;
  min-height: 80px;
}

#selected_cat {
  margin: 2px 22px 0 8px;
}
/***/
/* Show module */
/***/

#author_content_region {
  p {font-size: 1.1em;}
}
.crumb-authors {font-size: .7em; color:#336699; cursor: pointer;}

.passagelist {
  padding-right: 8px;
}
.passages-bio {
  position: absolute;
  max-height: 75%;
  overflow:auto;
  hr {display: none;}
}
.passages-works {
  position: absolute;
  max-height: 75%;
  overflow:auto;
  hr { border: 0; border-bottom: 1px dashed #ccc; background: #999; width:80%;}
}

.bioplace {text-decoration: underline;
  color: #993333;
  cursor: pointer;}
.worksplace {text-decoration: underline;
  color: darkgreen;
  cursor: pointer;}
