/* base.scss - application-wide */

html,body  {  height: 100%;  }
p, h1, h2, h3, h4 {font-family: Palatino-linotype, Georgia;}

.centered {text-align: center;}
// .right {right: 0;}

.fa-exchange {font-size:.8em; color: gray;}

.panel { width: 350px; height: 85%; top: 60px;
  position: absolute;
  h3 { margin: 5px 0; text-align: center;}
  .container { position:absolute; width: 95%;}
}
.panel-title { padding: 3px !important;
  hr { margin: 5px 0; border: 0; height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));}
}

.toggle-authors {cursor: pointer;
  position: absolute; top: 6px; right: 2px; display: block; }
.toggle-places {cursor: pointer;
  position: absolute; top: 6px; left: 2px; display: block; }

#wrap  {
  height: auto !important; margin: 0 auto -60px;
  min-height: 100%;  }
