
#content_nav_region {
  background: palegoldenrod;
  padding-top: 3px;
  padding-left: 28px;
  li {
    margin-left: 15px;
  }

  ul li { display: inline; }
  // 
  // ul li a
  // {
  // text-decoration: none;
  // padding: .2em 1em;
  // color: #fff;
  // background-color: #036;
  // }
  //
  // ul li a:hover
  // {
  // color: #fff;
  // background-color: #369;
  // }
}



.ui-tabs-vertical { width: 320px; }
// .ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: left; width: 40em;}
.ui-tabs-vertical .ui-tabs-nav li {
  clear: right; width: 80%;
  border-bottom-width: 1px !important;
  /*border-left-width: 1 !important; */
  margin: 0 0 4px -3px;
  padding: .3em .3em .2em 0;

  a {outline : none;}
}
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav {
  padding: .2em .1em .2em .1em;
  float: right;
  width: 24px; height:500px;
  /*border-left-width: 1px; */
  border-radius: 0 4px 4px 0;
  /*margin: 0 0 4px -3px;*/
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  /*padding: .3em .3em .2em 0; */
  border-left-width: 0px;
  margin: 0 0 4px -3px;
  padding: .3em .3em .2em 0;
}
.ui-corner-all {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.ui-widget-header {background: #ccc;}
