/* header.scss */
@import "compass/css3/images";

// aboout link, etc.
.header-right {
  position:absolute;
  right:14px;
  cursor: pointer;
  text-decoration: underline;
  color:#C2D1E0;
  // color:#336699;
  top: 14px;
}

.header-left {
  // font-awesome 'home'
  position:absolute;
  left:16px;
  cursor: pointer;
  color:#C2D1E0;
  top: 14px;
}

#header {
  position: absolute;
  top: 0;
  width: 100vw;
  h1 {
    margin: 5px 0;
    text-align: center;
    font-size: 2em;
    // font-weight: bolder;
    // font-family: "Prociono";
    font-variant: small-caps;
    font-family: "english";
    letter-spacing: 6px;
    color: #2A4747;
  }

  // white-ish center
  background-color: #ffffff; // Old browsers
  @include filter-gradient( #ffffff, #ffffff, horizontal); // IE6-9
  @include background-image(linear-gradient(left,  #2A4747 0%,#BFC8C8 25%,#BFC8C8 75%,#2A4747 100%));

  // slate center
  // background-color: #2A4747; // Old browsers
  // @include filter-gradient(#ffffff, #ffffff, horizontal); // IE6-9
  // @include background-image(linear-gradient(left,  #ffffff 0%,#2A4747 25%,#2A4747 75%,#ffffff 100%));

}

#map_chooser {
  position: absolute;
  margin: 4px 2px;
  padding: 4px 0 4px 4px;
  top: 55px;
  right: 42px;
  z-index: 1;
  background: #fff;
  font-family: 'english';
  border-radius: 3px;
  ul {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 0;
    padding: 2px;

  }
  li {
    display: inline;
    cursor: pointer;
    color:#336699;
    margin-left: 6px;
  }
  li:hover {background: yellow;}

  .active {
    background: yellow;
  }
}
