/* map.scss */

#map {
  width:100vw;
  height: 100vh;
  background: #F8F4F4;
  // z-index: -1;
  p {
    text-align: center;
    margin-top: 250px;
    color: #666
  }
}

.viewport-places {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 350px;
  height: 100%;
}

.viewport-authors {
  position: absolute;
  top: 50px;
  right: 50px;
  left: 350px;
  height: 100%;
}
