/* places.scss */

#places-region { background: #e0e0e0; }

.place {display: inline-block;}

arealist { padding:0 26px; font-family: Palatino-linotype, Georgia;
  font-size: 1.2em;
  a {text-decoration: none !important; }
  a:hover {background: lightyellow;}
}
