/* places.scss */

/***/
/* PlacesApp general */
/***/

#places-region {
  background: #e0e0e0;
  right: 0;
  // right: -330px;
  border-left: 4px solid #999;
}
#places-tab {
  float: left;
  cursor: pointer;
  img { position: absolute; left:0; top: 250px}
}
.place {display: inline-block;}

/***/
/* PlacesApp Show module */
/***/

arealist { padding:0 26px; font-family: Palatino-linotype, Georgia;
  font-size: 1.2em;
  a {text-decoration: none !important; }
  a:hover {background: lightyellow;}
}
