.clear-search {
  font-size: 0.9em;
  position: absolute;
  right: 4px;
}
#searchbox {
  margin-bottom: 12px;
}
#results_region_search {
  position: absolute;
  top:85px;
  bottom: 2%;
  overflow-y:auto;
}

.galleria {
  display:block;
  margin-top: 50px;
  font-family: english;
}
#q_input {
  width: 220px;
}
