.clear-search {
  font-size: 0.9em;
  position: absolute;
  right: 4px;
}
#searchbox {
  margin-bottom: 12px;
}
#results_region_search {
  position: absolute;
  top:85px;
  bottom: 2%;
  overflow-y:auto;
  img {
    margin-top: 20px;
  }
}

#q_input {
  width: 220px;
}
