
// d3.pack for place author distributions

text {
  font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  pointer-events: none;
}

circle {
  fill: #ccc;
}

.node:hover circle {
  fill: orange;
  cursor: pointer;
}

.axis text {font: 10px sans-serif;}

#histYears {
  .bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
  }
  .bar text {
    fill: #fff;
  }
  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}
