#worklist_region_w {
  font-family: 'english';
}
.work {
  margin: 4px 0;
  line-height: 1.2em;
  a {
    text-decoration: none;
    display: inline-block;
  }
  a:hover { background: yellow;}
}


.work-title {
  font-size: 0.9em;
  font-weight: 600;
  color: #993333
}

.word-cloud {
  margin-bottom:8px;
  span {
    line-height:.8em;
  }
}

.panel-title {
  h4 {margin-bottom:0; color: #993333;
    text-align: center; font-weight: bold;}
  p {font-style: italic; color: #333; margin-top:0;  text-align: center;}
}

.crumb-works {
  font-size: .7em; color:#336699 !important;
  cursor: pointer; text-align: left !important;}

#selected_cat_works {
  margin: 2px 22px 0 2px;
}

.results-head {
  font-style: italic;
  color: #993333;
}
