<div id="header_region"></div>
<div id="map_region"></div>
<div id="content_region">
  <div id="spin_content" class="spinner-loader hidden"></div>
</div>
<div id="place_passages_region" class="hidden"></div>
<div id="image_modal"></div>
<div id="footer_region"></div>

<%= javascript_tag do %>
	$(function() {
		AL.start();
    setInterval('cycleQuotes()', 5500 );
	});
<% end %>
