<div id="header-region">header</div>
<div id="authors-region" class="panel">authors</div>
<div id="places-region">places</div>
<div id="map-region"></div>
<div id="footer-region"></div>

<%= javascript_tag do %>
	$(function() {
		AL.start();
	});
<% end %>