<div id="map-region"></div>
<div id="header-region"></div>
<div id="authors-region" class="panel"></div>
<div id="places-region"></div>
<div id="footer-region"></div>

<%= javascript_tag do %>
	$(function() {
		AL.start();
	});
<% end %>
