<div id="header-region">header</div>
<div id="wrap">
	<div id="map-region"></div>
	<div id="authors-region">authors</div>
	<div id="places-region">places</div>
	<div id="main-region" class="container"></div>
	<div id="footer-region"></div>
</div>

<%= javascript_tag do %>
	$(function() {
		AL.start();
	});
<% end %>