<h1>Authorial London</h1>
<p>you made it to base#index</p>

<p><a href="/base/hello">the 'hello' view</a></p>
<p><%= link_to("another way to 'hello'", 
	{:action => "hello" }) %></p>

<p><%= link_to("Hello with parameters: page 5, id 20", 
	{:action => "hello", :page => 5, :id => 20 }) %></p>
